<aside id="sidebar" class="sidebar">
	<ul class="sidebar-nav" id="sidebar-nav">
		<li class="nav-item">
			<a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
				<i class="bi bi-grid"></i><span>Dashboard</span>
			</a>
		</li>
		<!-- End Dashboard Nav -->

		<li class="nav-item">
			<a class="nav-link" href="#" routerLinkActive="active"><i class="bi bi-people"></i><span>Pessoas</span></a>
		</li>
		<!-- End Pessoas Nav -->

		<li class="nav-heading">Manutenção</li>

		<li class="nav-item">
			<a class="nav-link" routerLink="/usuarios" routerLinkActive="active">
				<i class="bi bi-person"></i> <span>Usuários</span>
			</a>
		</li>
		<!-- End Usuários Page Nav -->

		<li class="nav-item">
			<a class="nav-link" href="#" routerLinkActive="active"> <i class="bi bi-gear"></i> <span>Parâmetros</span> </a>
		</li>
		<!-- End Parametros Page Nav -->

		<li class="nav-item">
			<a class="nav-link" (click)="logout()" href="#"> <i class="bi bi-box-arrow-left"></i> <span>Sair</span> </a>
		</li>
		<!-- End Sair Page Nav -->
	</ul>
</aside>
<!-- End Sidebar-->
