<div class="container">
  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex flex-column align-items-center py-4">
            <a href="#" class="logo d-flex align-items-center w-auto">
              <img src="../../../assets/img/logovip.svg" alt="">
              <span class="d-none d-lg-block">VIP Controle</span>
            </a>
            <span class="lead">Sistema de Gerenciamento Interno</span>
          </div><!-- End Logo -->

          <div class="card mb-3">
            <div class="card-body">
              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Tela de Acesso</h5>
                <p class="text-center small">Informe seu e-mail e senha para acessar</p>
              </div> <!-- Ends Titulo -->

              <form [formGroup]="this.form" class="row g-3" (submit)="submit()" novalidate>

                <div class="col-12">
                  <label for="email" class="form-label">E-mail</label>
                  <input type="text" name="email" class="form-control" formControlName="email" id="email" [ngClass]="formHelper.validate('email')">
                </div> <!-- Ends Email -->

                <div class="col-12">
                  <label for="senha" class="form-label">Senha</label>
                  <input type="password" name="senha" class="form-control" formControlName="senha" [ngClass]="formHelper.validate('senha')">
                </div> <!-- Ends Senha -->

                <div class="col-12">
                  <button class="btn btn-warning w-100" type="submit" [disabled]="form.invalid">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ocupado"></span>
                    Entrar
                  </button>
                </div>
              </form> <!-- Ends Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>