<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="#">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#pessoas-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people"></i><span>Pessoas</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="pessoas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Cadastro</span>
                    </a>
                    <a href="#">
                        <i class="bi bi-circle"></i><span>Relatório</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Pessoas Nav -->

        <li class="nav-heading">Manutenção</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-person"></i>
                <span>Usuários</span>
            </a>
        </li><!-- End Usuários Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-gear"></i>
                <span>Parâmetros</span>
            </a>
        </li><!-- End Parametros Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-box-arrow-left"></i>
                <span>Sair</span>
            </a>
        </li><!-- End Sair Page Nav -->
    </ul>

</aside><!-- End Sidebar-->