<div class="container">
  <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

          <div class="d-flex flex-column align-items-center py-4">
            <a href="#" class="logo d-flex align-items-center w-auto">
              <img src="../../../assets/img/logovip.svg" alt="Logo VIP">
              <span class="d-none d-lg-block">VIP Controle</span>
            </a>
            <span class="lead">Sistema de Gerenciamento Interno</span>
          </div><!-- End Logo -->

          <div class="card mb-3">
            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4">Cadastro</h5>
                <p class="text-center small">Informe sua <b>Senha</b> para finalizar o cadastro</p>
              </div>

              <div class="row text-muted">
                <strong>Nome:</strong>
                <p>LEANDRO DOS SANTOS FERREIRA</p>
              </div>

              <form class="row g-3 needs-validation" novalidate>
                <div class="col-12">
                  <label for="senha" class="form-label">Senha</label>
                  <div class="input-group has-validation">
                    <input type="password" name="senha" class="form-control" id="senha" required>
                  </div>
                </div>

                <div class="col-12">
                  <label for="confirmarSenha" class="form-label">Confirme a Senha</label>
                  <input type="password" name="confirmarSenha" class="form-control" id="confirmarSenha" required>
                </div>

                <div class="col-12">
                  <button class="btn btn-success w-100" type="submit">Confirmar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
